{{define "users/index2.html"}}
    <!DOCTYPE html>
    <html prefix="og: http://ogp.me/ns#"><head>
        <title>gamecenter</title>
        <meta property="fb:app_id" content="603344346969312">
        <meta property="og:type" content="article">
        <meta property="og:title" content="titleTest">
        <meta property="og:description" content="titleDescription">
        <meta property="og:image" content="https://www.google.com/search?q=goog&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiMp57Sk_LrAhVUwosBHdMYA8cQ_AUoBHoECB0QBg&biw=1747&bih=1018&dpr=2#imgrc=ck7zjFiybKG00M">
        <meta property="al:android:url" content="fb_login_protocol_scheme://poker/share">
        <meta property="al:android:package" content="com.globalgamejourney.plive">
        <meta property="al:android:app_name" content="Poker live">
        <meta property="al:ios:url" content="fb_login_protocol_scheme://poker/share">
        <meta property="al:ios:app_store_id" content="1521398020">
        <meta property="al:ios:app_name" content="Poker live">
        <meta property="al:web:should_fallback" content="false">
    </head>
    <body></body></html>
{{end}}